<section class="jumbotron text-center">
    <div class="container" style="margin-bottom: 8em;">
        <h1 class="jumbotron-heading">Liked.</h1>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="row ml-3">
                {{#if materiais}} {{#each materiais}}
                <div class="col-md-4">
                    <!-- for each loop in handlebars -->
                    <div class="card" style="width: 18rem; margin-bottom: 3em;">
                        <div class="card-body">
                            {{#if link}}
                            <img src="/img/link.png" class="card-img-top thumb" alt="link"> {{else}}
                            <img src="/img/pdf.png" class="thumb" alt="pdf"> {{/if}}
                            <br>
                            <hr>
                            <br>
                            <h5 class="card-title">{{name}}</h5>
                            <hr>
                            <p class="card-text">{{desc}}</p>
                            <hr>
                            <br>
                            <div class="btn-toolbar">
                                {{#if filename}}
                                <a href="/see/{{materia}}-{{filename}}" target="_blank" class="btn btn-sm btn-outline-primary mr-2">Abrir</a>
                                {{else}}
                                <a href="{{link}}" target="_blank" class="btn btn-sm btn-outline-primary mr-2">Abrir</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}} {{else}}
                <h4>Não curtiu nenhum material ainda</h4>
                {{/if}}
            </div>
        </div>
    </div>
</section>