<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Meus Materiais.</h1>
        {{#if user}}
        <p>
            <a href="../materiais/add/null" class="btn btn-primary my-2">Adicionar Material</a>
        </p>
        {{/if}}
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each materiais}}
            <div class="col-md-4">
                <!-- for each loop in handlebars -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top filethumb" src="/img/filethumb.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{desc}}</p>
                        {{#if filename}}
                        <a href="/see/{{materia}}-{{filename}}" target="_blank" class="btn btn-primary btn-block mb-2">Abrir</a>
                        {{/if}} {{#if link}}
                        <a href="{{link}}" target="_blank" class="btn btn-primary btn-block mb-2">Abrir</a>
                        {{/if}}
                        <form method="post" action="/materiais/{{id}}?_method=DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-block" value="Deletar">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
            {{else}} {{/each}}
        </div>
    </div>
</div>