<section class="jumbotron text-center">
    <div class="container" style="margin-bottom: 8em;">
        <h1 class="jumbotron-heading">Pasta: {{materia}}.</h1>
        <p class="lead text-muted">Encontre uma variedade de materiais relacionado a {{materia}}.</p>
        {{#if user}}
        <p>
            <a href="{{materia}}/add" class="btn btn-primary my-2">Adicionar Material</a>
        </p>
        {{/if}}

        <form action="/materias/{{materia}}" method="GET" class="form">
            <div class="form-group">
                <input type="text" name="search" placeholder="Buscar materiais..." class="form-control">
            </div>
        </form>
    </div>


    <div class="album py-5">
        <div class="container">
            <div class="row ml-3">
                {{#if materiais}} {{#each materiais}}
                <div class="col-md-4">
                    <!-- for each loop in handlebars -->
                    <div class="card" style="width: 18rem; margin-bottom: 3em;">
                        <div class="card-body">
                            {{#if link}}
                            <img src="/img/link.png" class="card-img-top thumb" alt="link"> {{else}}
                            <img src="/img/pdf.png" class="thumb" alt="pdf"> {{/if}}
                            <br>
                            <hr>
                            <br>
                            <h5 class="card-title">{{name}}</h5>
                            <hr>
                            <p class="card-text">{{desc}}</p>
                            <hr>
                            <br>
                            <div class="btn-toolbar">
                                {{#if filename}}
                                <a href="/see/{{materia}}-{{filename}}" target="_blank" class="btn btn-sm btn-outline-primary mr-2">Abrir</a>
                                {{/if}} {{#if link}}
                                <a href="{{link}}" target="_blank" class="btn btn-sm btn-outline-primary mr-2">Abrir</a>
                                {{/if}} {{#if liked}}
                                <button type="submit" class="btn btn-sm btn-outline-dark" disabled>
                                    <img src="/img/like-disabled.png" style="width: 20px" alt="like">
                                    <span class="ml-2">{{likes}}</span>

                                </button>
                                {{else}}
                                <form action="/materiais/{{id}}?_method=PUT" method="post">
                                    <input type="hidden" name="_method" value="PUT">
                                    <button type="submit" class="btn btn-sm btn-outline-primary">
                                        <img src="/img/like.png" style="width: 20px" alt="like">
                                        <span class="ml-2">{{likes}}</span>

                                    </button>
                                </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}} {{else}}
                <h4>Nenhum material encontrado</h4>
                {{/if}}
            </div>
        </div>
    </div>
</section>