<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Pasta: {{materia}}.</h1>
        <p class="lead text-muted">Encontre uma variedade de materiais relacionado a {{materia}}.</p>
        <p>
            <a href="{{materia}}/add" class="btn btn-primary my-2">Adicionar Material</a>
        </p>
    </div>
</section>

<!--DEFINITION OF LAYOUT FORMAT FOR EACH MATERIAL PUBLISHED-->
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each materiais}}
            <div class="col-md-4">
                <!-- for each loop in handlebars -->
                <div class="card" style="width: 18rem;">
                    
                    <!-- working with the file preview -->
                    <!--<img class="card-img-top filethumb" src="/img/filethumb.png" alt="Card image cap"-->
                    
                    <!-- IFRAME = permite ver o preview da pagina referenciada inteira-->
                    <iframe class="card-img-top " 
                        {{#if filename}}
                            src = "/see/{{materia}}-{{filename}}"
                        {{/if}}
                        {{#if link}}
                            src = "{{link}}"
                        {{/if}} 
                         style="border:none;"
                    ></iframe>

                    <!--<div class="card-img-top filethumb" 
                        {{#if filename}}
                            style="background-image: url("/see/{{materia}}-{{filename}}")" 
                        {{/if}}
                        {{#if link}}
                            style="background-image: url("{{link}}")" 
                        {{/if}} 
                    ></div>-->
                

                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{desc}}</p>
                        {{#if filename}}
                            <a href="/see/{{materia}}-{{filename}}" target="_blank" class="btn btn-primary">Abrir</a>
                        {{/if}}
                        {{#if link}}
                            <a href="{{link}}" target="_blank" class="btn btn-primary">Ir</a>
                        {{/if}}
                       
                    </div>
                </div>
            </div>
            {{else}} {{/each}}
        </div>
    </div>
</div>